<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="icon" href="favicon.ico" /> -->
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    [v-cloak] {
      display: none;
    }

  </style>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?0e1622bfb4caba84e380756cba08839f";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

  </script>
</head>

<body>
  <!--[if lt IE 8]>
      <div id="browser" class="browser">
        <p>
          顺网提醒您：为了更好的浏览本页面，快跟您过时的浏览器说声后会无期，强烈建议升级至<a
            href="https://windows.microsoft.com/zh-cn/windows/upgrade-your-browser"
            target="_blank"
            >最新版IE</a
          >或<a
            href="https://www.google.cn/intl/zh-CN/chrome/browser/desktop/"
            target="_blank"
            >chrome浏览器</a
          >
        </p>
      </div>
    <![endif]-->
  <div id="app" v-cloak>
    <div class="bg-box">
      <div class="bg1"></div>
      <div class="bg2"></div>
      <div class="bg3" :class="tabClass"></div>
      <div class="bg4"></div>
      <div class="bg5"></div>
    </div>

    <div class="wrap-box">
      <div class="wrap">
        <div id="step1" class="live-wrap">
          <div class="title-wrap">
            <div class="title ti">赛事直播</div>
          </div>
          <div class="ifr-wrap">
            <iframe class="ifr" src="https://yangbaimg.syoogame.com/static/web/activity/simple_live/player.html"
              frameborder="0"></iframe>
            <ul>
              <li v-for="(item, index) in live">
                <a :href="item.linkUrl" target="_blank" class="live-item">
                  <img v-if="item.miniPic" :src="'https://static.huoma.cn/upload/notice/' + item.miniPic" alt="" />
                  <!-- <img :src="'img/bargame/test/' + item.src" alt=""> -->
                  <!-- <img :src="'~@images/bargame/test/' + item" alt=""> -->
                  <p class="cap1">{{ item.title }}</p>
                </a>
              </li>
            </ul>
          </div>
          <a href="https://yangbaimg.syoogame.com/static/web/activity/simple_live/simple_live.html" target="_blank"
            class="btn-live ti">去直播间</a>
          <div class="news-wrap">
            <div class="news-pic">
              <ul>
                <li v-for="(item, index) in news">
                  <a :href="item.isLink == 1 ? item.linkUrl : 'http://www.huoma.cn/news?curNoticeId='+item.noticeId"
                    target="_blank" class="news-item">
                    <img :src="'https://static.huoma.cn/upload/notice/' + item.miniPic" alt="" />
                    <!-- <img :src="'img/bargame/test/' + item.src" alt=""> -->
                    <!-- <img :src="'~@images/bargame/test/' + item" alt=""> -->
                    <p class="cap2">{{ item.title }}</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="news-no-pic">
              <div class="cap-news"></div>
              <ul>
                <li class="news-no-pic-item" :class="{active: newsIndex === index}" @click="newsClick(index)"
                  v-for="(item, index) in newsNoPic">
                  <a :href="item.isLink == 1 ? item.linkUrl : 'http://www.huoma.cn/news?curNoticeId='+item.noticeId"
                    target="_blank" class="cap3">{{ item.title }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="step2" class="pattern-wrap">
          <div class="tab-wrap">
            <ul>
              <li :class="{active: tabIndex === index}" @click="patternClick(index, item)"
                v-for="(item, index) in tabs">
                <div class="tab">
                  <i :class="'ico ' + item.cls"></i>
                  <span>{{ item.name }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="step3" class="bonus-wrap">
          <div class="title"></div>
          <div class="tab-wrap cf">
            <ul>
              <li :class="{active: bonusIndex === index}" @click="bonusClick(index)" v-for="(item, index) in types">
                <div class="tab">
                  <span>{{ item }}</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="chooseGame-wrap">
            <label for="selectGame" class="lbl">选择游戏</label>
            <select id="selectGame" @change="selectGames($event)">
              <option :value="index" v-for="(item, index) in games">{{ item }}</option>
            </select>
            <div class="info" :class="[zone, game]"></div>
            <a href="#" class="btn-apply ti" @click="showModal">我要报名</a>
          </div>
        </div>
        <div id="step4" class="unit-wrap">
          <div class="title"></div>
          <ul>
            <li class="unit" v-for="(item, index) in units">
              <a :href="item.url" target="_blank">
                <img :src="'img/bargame/' + item.src" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="float-wrap">
      <div class="anchor-wrap">
        <a href="#step1" class="anchor" :class="{ active: anchorIndex === 0 }" @click="clickAnchor(0)">赛事直播</a>
        <a href="#step2" class="anchor" :class="{ active: anchorIndex === 1 }" @click="clickAnchor(1)">新闻报道</a>
        <a href="#step3" class="anchor" :class="{ active: anchorIndex === 2 }" @click="clickAnchor(2)">赛制流程</a>
        <a href="#step4" class="anchor" :class="{ active: anchorIndex === 3 }" @click="clickAnchor(3)">比赛奖金</a>
      </div>
      <a href="#" class="btn-apply" @click="showModal">我要报名</a>
      <a href="http://service.icafe8.com/index.htm" target="_blank" class="btn-service">客服</a>
    </div>

    <div class="modal-wrap">
      <div class="masklayer" v-if="mask || currentModal"></div>
      <!-- 活动规则 -->
      <div class="dialog-wrap" v-if="currentModal == 'apply'">
        <i class="i-close" @click="closeModal"></i>
        <div class="contents">
          <h3 class="caption">报名参加{{ modal[logoIndex].name }}项目</h3>
          <p class="text" v-html="modal[logoIndex].text"></p>
          <div class="text-wrap cf">
            <ul>
              <li :class="{ active: logoIndex === index }" v-for="(item, index) in modal" @click="clickGame(index)">
                <div class="game-item">
                  <img :src="'img/bargame/' + item.logo" alt="" />
                  <p class="txt">{{ item.name }}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="btn-wrap">
            <button class="btn-confirm b" @click="handleApply(logoIndex)">
              报名
            </button>
          </div>
        </div>
      </div>

      <!-- 火马弹层 -->
      <div class="dialog-wrap info" v-if="currentModal === 'huoma'">
        <i class="i-close" @click="closeModal"></i>
        <div class="contents">
          <p class="text">
            该网吧尚未安装“火马电竞”客户端，请联系网管安装后参与比赛。
          </p>
          <div class="btn-wrap">
            <button class="btn-confirm" @click="closeModal">知道了</button>
          </div>
        </div>
      </div>

      <!-- CGA 弹层 -->
      <div class="dialog-wrap info" v-if="currentModal === 'cga'">
        <i class="i-close" @click="closeModal"></i>
        <div class="contents">
          <p class="text">该网吧未安装CGA客户端，请通知网管安装。</p>
          <div class="btn-wrap">
            <button class="btn-confirm" @click="closeModal">知道了</button>
            <a href="http://es.cga.com.cn/match/event/id/633" target="_blank" class="btn-confirm">打开报名链接</a>
          </div>
        </div>
      </div>

      <div class="message-wrap" v-if="message">
        <p class="message">
          <i class="i-loading"></i>
          <span>正在启动比赛客户端..</span>
        </p>
      </div>
    </div>
  </div>
</body>

</html>
